<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" id="game" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT-wAWxD1A3_XNtOCAsS5TIu3a3vBAoop6FQ&usqp=CAU" alt="" width="85rem" ></a>
    <button class="navbar-toggler ms-auto " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3 ">
       
  
      
        <li class="nav-item ">
          <a class="nav-link text-dark" routerLink="signup" routerLinkActive="active" >Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="login" routerLinkActive="active"  >LogOut</a>
        </li>
      
      
      
      </ul>
 
    </div>
  </div>
</nav>

<div >
  <router-outlet></router-outlet>
</div>

<div class="fluid-container">
<div class="row">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col-md-6 col-sm-5 p-4">
  <h3 class="text-center" id="para1">
    WE HELP, WE GUIDE, THE FORTUNE IS IN YOUR HANDS.EXPLORE YOURSELF OVER HERE.
  </h3>
  <br>
  <div class="row">
    <div class="col-md-5 p-3">
      <h4 class="text-dark pb-3">
        <strong > <em>FOR STUDENTS</em> </strong>
      </h4>
      <p class="text-dark" id="para2">
        Here is a portal where students can post their doubts and clarify them with in no, time all you need to do is just <a href="#" class="text-primary">Login</a>  or if you are new <a href="#" class="text-primary">Resgister</a> Come on cheer up.
      </p>
      <hr>
      <button class="btn btn-secondary text-white d-block mx-auto">Ask Doubts</button>
    </div>

    <div class="col-md-2 col-sm-2"></div>

    <div class="col-md-5 col-sm-2 p-3">
      <h4 class="pb-3"> <strong> <em> FOR FACULTY </em> </strong> </h4>
      <p id="para3">
        We provide a user friendly environment to interact with the students and clear their doubts and guide them. Just <a href="#" class="text-primary"> Login </a> or <a href="#" class="text-primary">Register</a> and clear the doubts of the students.
      </p>
      <hr>
      <button class="btn btn-secondary text-white d-block mx-auto">Sign up</button>
    </div>
  </div>
  </div>

  <div class="col-md-5 col-sm-5 p-5">
    <img src="http://userscontent2.emaze.com/images/cda84a15-1747-43fb-a828-3004050e8aa2/73c93abc-a295-4cc7-9bc0-4a5218621a38.jpg" alt="not availble" class="float-end w-100" id="image1">
  </div>
</div>


</div>